@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    transition: background-color .5s;
}
body.dark {
    color: #fff !important;
    background-color: #000 !important;
}
header button {
    border: none;
    color: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
header .dark {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

header img {
    cursor: pointer;
    width: 40px;
}
.title {
    font-family: 'Pretendard';
    padding: 0 6rem 0 2rem;
    width: 100%;
    height: 63px;
    color: white;
    font-weight: 900;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    z-index: 999;
}

.title > div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.title > div p {
    font-size: 1.4rem;
    cursor: pointer;
}

.title img {
    width: 60px;
}

.firstbox {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 63px;
    background-color: white;
    display: none;
    z-index: 99;
    border-bottom: 1px solid black;
}
.bgvideo1 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}
.bgvideo1 video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    margin: -10px;
}



.first {
    font-family: 'Pretendard';
    width: 100%;
    height: 1200px;
    position: relative;
    margin-top: 100px;
}

.first h1 {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    margin: 5rem 0;
}


.main {
    max-width: 950px;
    position: relative;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.decorate1 {
    width: 400px;
    height: 500px;
    background-color: gainsboro;
    position: relative;
}
.decorate1::after {
    content: '';
    width: 400px;
    height: 500px;
    border: 1px solid black;
    position: absolute;
    top: -20px;
    left: -20px;
}
.decorate1.on::after {
    border: 1px solid #fff;
}
.decorate1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 9;
}
.name {
    font-family: 'pretendard';
    font-size: 1.5rem;
}
.name h2 {
    font-weight: 900;
    text-align: end;
}
.name p {
    font-weight: 300;
    text-align: end;
}

.school-right {
    width: 45%;
}

.school {
    font-family: 'pretendard';
}
.school h2 {
    font-size: 2.5rem;
    font-weight: 800;
}
.school p {
    padding-top: 1.7rem;
    font-size: 1.7rem;
}

.career {
    font-family: 'pretendard';
}
.career h2 {
    font-size: 2.5rem;
    font-weight: 800;
    padding: 2rem 0;
}
.career p {
    font-size: 1.7rem;
}



.second {
    font-family: 'Pretendard';
    width: 100%;
    height: 2000px;
    position: relative;
}
.second-title {
    font-weight: 900;
    text-align: center;
    font-size: 4rem;
}



.main2 {
    max-width: 1500px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.main2 > div {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin-top: 5rem;
}
.main2 > div > * {
    width: 45%;
}
.main2 .sang {
    height: 350px;
    overflow-y: scroll;
}

.main2 .infopages {
    width: 100%;

}

.main2 .icon {
    width: 33px;
    height: 30px;
}
.main2 video {
    height: 350px;
    background-color: black;
}
.main2 h1 {
    font-family: 'pretendard';
    font-weight: 900;
    font-size: 2.4rem;
    padding: 1rem 0;
}
.main2 h2 {
    font-family: 'pretendard';
    font-weight: 800;
    padding: 0.5rem 0;

}
.main2 p {
    font-family: 'pretendard';
    font-size: 1.4rem;
    font-weight: 100;
    padding: 0.5rem 0;
}
.Typography {
    text-align: end;
}



.third {
    font-family: 'Pretendard';
    width: 100%;
    height: 2000px;
    position: relative;
}
.third h1 {
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    padding-top: 100px;
}

.main3 {
    max-width: 1200px;
    position: relative;
    display: flex;
    margin: 2rem auto;
    padding-top: 100px;
    justify-content: space-between;
}
.main3 img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}
.main3-1 {
    max-width: 1200px;
    position: relative;
    display: flex;
    margin: 0 auto;
}

.main3-1 img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}

.fourth {
    font-family: 'Pretendard';
    width: 100%;
    height: 600px;
    position: relative;
    background-color: black;
    overflow: hidden;
}
.fourth h1 {
    position: absolute;
    left: 4%;
    font-weight: 900;
    font-size: 4rem;
    padding-top: 5% ;
    color: white;
    width: 90%;
    border-bottom: 1px solid white;
}

.fourth .box {
    position: absolute;
    top: 35%; left: 3.5%;
    font-size: 1.5rem;
}

.fourth .email {
    display: flex;
    color: white;
    align-items: center;
    width: 25rem;
    justify-content: space-between;
}
.fourth .discord {
    display: flex;
    color: white;
    align-items: center;
    width: 17.3rem;
    justify-content: space-between;
    padding-top: 20px;
}
.fourth .notion {
    display: flex;
    color: white;
    align-items: center;
    width: 9.1rem;
    justify-content: space-between;
    padding-top: 20px;
}

.fourth .icon {
    width: 50px;
    height: 30px;
    background-color: none;
}
.fourth .icon2 {
    width: 50px;
    height: 48px;
    background-color: none;
}

.fourth-decorate1 {
    position: absolute;
    top: 45%; right: -10%;
    width: 30rem;
    height: 30rem;
    transform:rotate(45deg);
    border: 2px solid rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}
.fourth-decorate2 {
    position: absolute;
    top: 55%; right: 0%;
    width: 30rem;
    height: 30rem;
    transform:rotate(45deg);
    border: 2px solid rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}
.fourth-decorate3 {
    position: absolute;
    top: -20%; left: -10%;
    width: 30rem;
    height: 30rem;
    transform:rotate(45deg);
    border: 2px solid rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}
.fourth-decorate4 {
    position: absolute;
    top: -35%; left: 0%;
    width: 30rem;
    height: 30rem;
    transform:rotate(45deg);
    border: 2px solid rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

.gotop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background: #333;
    display: none;
    border-radius: 50%;
}
.gotop span {
    position: absolute;
    top: 17px; left: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg)
}